.trends {
  margin-top: 64px;
}

.blog,
.shop,
.footer {
  max-width: 768px;
  margin-top: 50px;
}

.banner {
  min-height: 400px;
  background-image: url("../img/banner-bg-tablet.jpg");
}

.banner-content {
  padding-top: 50px;
  padding-bottom: 43px;
}

.logo {
  width: 158px;
  margin-top: 0;
  margin-left: 20px;
}

.page-navigation {
  top: 50px;
  right: 35px;
}

.page-title {
  max-width: 616px;
  margin: 88px auto 0;
  font-size: 40px;
  line-height: 55px;
}

.region-title {
  font-size: 18px;
  line-height: 1;
}

.trend {
  width: calc(50% - 4px);
  margin-top: 25px;
}

.trends-list,
.shop-list {
  margin-top: 30px;
}
.sidebar-title {
  font-size: 14px;
}

@media (orientation: landscape) {
  .trend {
    width: calc(25% - 4px);
  }
}
